.recommendedBooks {
  position: relative;
  padding: 40px 20px;
  border-radius: 30px;
  background-color: var(--main-bg-color);
}
.recommendedBooksTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  margin-bottom: 34px;
}
.recommendedBooksList {
  display: flex;
  gap: 21px;
}
@media screen and (min-width: 768px) {
  .recommendedBooks {
    padding: 40px;
  }
  .recommendedBooksTitle {
    font-size: 28px;
    line-height: 1.14;
    margin-bottom: 28px;
  }
  .recommendedBooksList {
    flex-wrap: wrap;
    column-gap: 25px;
    grid-row: 27px;
  }
}
@media screen and (min-width: 1440px) {
  .recommendedBooks {
    padding: 40px 42px 28px 40px;
    width: 847px;
  }
  .recommendedBooksList {
    column-gap: 20px;
  }
}
