.detailsScetion {
  position: relative;
}
.detailsBtnWrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}
.detailsBtnSvg {
  width: 16px;
  height: 16px;
}
.detailsBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  background-color: transparent;
  stroke: var(--secondary-text-color);
  transition: stroke var(--general-transition);
}
.detailsBtn:hover,
.detailsBtn:focus {
  stroke: var(--main-text-color);
}

.active {
  stroke: var(--main-text-color);
}
@media screen and (min-width: 768px) {
  .detailsScetion {
    width: 321px;
  }
}
