.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 20, 23, 0.5);
  visibility: visible;
  opacity: 1;
  overflow: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 335px;
  padding: 40px;
  border: 1px solid rgba(104, 104, 104, 0.2);
  border-radius: 12px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--main-bg-color);
}
.backdrop .modal {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modalCloseBtn {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: stroke var(--general-transition);
}

.modalCloseBtn:hover,
.modalCloseBtn:focus {
  stroke: var(--main-color);
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 50px;
    width: 500px;
  }
}
