.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  border-radius: 30px;
  padding: 20px 40px 0 40px;
}
@media screen and (min-width: 768px) and (max-width: 1439.9px) {
  .heroSection {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .heroSection {
    padding: 80px 98px 0 97px;
  }
  .heroSection picture {
    margin-top: auto;
  }
}
