.bookInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.bookInfoWrapper img {
  width: 140px;
  height: 213px;
  border-radius: 8px;
  margin-bottom: 16px;
}
.bookInfoWrapper h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 2px;
}
.author {
  font-size: 12px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}
.pages {
  font-size: 10px;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .bookInfoWrapper {
    margin-bottom: 32px;
  }
  .bookInfoWrapper img {
    width: 153px;
    height: 233px;
  }
  .bookInfoWrapper h3 {
    font-size: 20px;
  }
  .author {
    font-size: 14px;
    line-height: 1.29;
  }
}
